footer {
    .main {
        padding: {
            top: 2rem;
            bottom: 2rem;
        }
        background: $mainColor;
        color: #fff;
        h6 {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        p {
            text-align: justify;
        }
        .contact {
            @include listUnStyle;
            li {
                margin-bottom: 7px;
                i {
                    width: 16px;
                    margin-left: 3px;
                    font-size: 16px;
                }
                a {
                    color: #fff;
                    @include transition(300ms);
                    &:hover {
                        color: #ccc;
                    }
                }
            }
        }
        .articles {
            @include listUnStyle;
            li {
                margin-bottom: 15px;
                .row {
                    align-items: center;
                }
                h5 {
                    font-size: 14px;
                    margin-bottom: 3px;
                }
                span {
                    font-size: 12px;
                }
                a {
                    color: #fff;
                    @include transition(300ms);
                    &:hover {
                        color: #ccc;
                    }
                }
            }
        }
    }
    .newsletter {
        padding: {
            top: 1rem;
            bottom: 1rem;
        }
        h5 {
            font-size: 16px;
            color: $mainColor;
            font-weight: 700;
        }
        p {
            color: #777;
            text-align: justify;
        }
        form {
            width: 100%;
            display: block;
            position: relative;
            input {
                background: #fff;
                border-radius: 20px;
                padding: 13px 15px;
                box-shadow: 0 0 10px rgba(0,0,0,0.1);
                border: 1px solid #fff;
                width: 100%;
                @include transition(300ms);
                &:focus {
                    outline: unset;
                    border-color: $mainColor;
                }
            }
            button {
                position: absolute;
                background: $mainColor;
                padding: 9px 15px;
                color: #fff;
                border: unset;
                top: 4px;
                left: 5px;
                border-radius: 20px;
                &:focus {
                    outline: unset;
                }
            }
        }
    }
    .copyright {
        padding: {
            top: 1rem;
            bottom: 1rem;
        }
        background: $mainColor;
        color: #fff;
        p {
            margin: 0;
        }
        a {
            color: #fff;
            margin-right: 7px;
            @include transition(300ms);
            &:hover {
                color: #ccc;
            }
        }
    }
}

@media screen and (max-width:576px) {
    footer {
        .copyright {
            .col-md-8,
            .col-md-4 {
                text-align: center !important;
            }
            .col-md-8 {
                margin-bottom: 10px;
            }
        }
    }
}