/*
    Project : Everest College Site
    Version : 1.0
    Graphic : Speher Plus
    Develop : Alireza Youserfi Azar
    Company : ARYA Creative Agency
    Website : arya.agency
*/
@import '~bootstrap/scss/bootstrap';
@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';
@import url('jquery.fancybox.css');
@import 'variables';
@import 'main';
@import 'header';
@import 'footer';
@import 'home';
@import 'students';
@import 'lecturers';
@import 'customers';
@import 'downloads';
@import 'articles';
@import 'testimonials';
@import 'news';
@import 'courses';
@import 'jobs';
@import 'about';
@import 'responsive';